#location > #main > section > header {
    width: 100%;
    height: 100px;
  }
  
  #location > #main > section > header > h1 {
    line-height: 100px;
    text-align: center;
  }
  
  #location > #main #map {
    width: 1400px;
    margin: 0 auto;
    height: 460px;
    background: #ccc;
  }

 #location .address > table > caption {
    text-align: center;
    color: #ff6600;
    padding: 20px;
    padding-bottom: 0;
    font-size: 20px;
}
#location .address > table ,th, td{
    border: none;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    color: #545555;}

#location .address > table{
  /* outline: solid red; */
  margin: 0 auto;
}
#location .orange{
  color: #ff6600;
  font-weight: bold;
}